:root {
    --heading-font: "Rock Salt";
    --paragraph-font: "Roboto Condensed", Helvetica, sans-serif;
    --primary-color: #463730;
    --secondary-color: #1f5673;
    --accent-color-one: #759fbc;
    --accent-color-two: #fee9e1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0 5em;
    padding: 0;
}

a {
    font-family: var(--paragraph-font);
    text-decoration: none;
}

p {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

h1 {
    color: var(--primary-color);
    font-family: var(--heading-font);
}

h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
}

.hero h1 {
    width: 100%;
    background-color: var(--accent-color-two);
    text-align: center;
    position: absolute;
    bottom: 45rem;
    opacity: .7;
}

.hero article {
    background-color: var(--accent-color-two);
    width: 90%;
    height: 10rem;
    padding: 1rem;
    position: absolute;
    bottom: 32rem;
    left: 4rem;
    vertical-align: middle;
    opacity: .7;
}

.hero article img {
    width: 200px;
    float: right;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

section img {
    display: block;
}

.sociallinks a img {
    width: 2rem;
    height: auto;
}