* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: Merriweather, Roboto Mono, serif;
    font-size: 1.3rem;
    color: #333;
    background: #fff;
}

header {
    margin: 0 auto;
    width: 650px;
}
h1 {
    margin: 1rem;
    font-size: 1.5rem;
    text-align: center;
    color: navy;
}
form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0,0, 0.6);
    border-radius: 0.5rem;
    background-color: #fee9e1;
    display: grid;
}
fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0,0, 0.2);
    padding: 1rem;
}
legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}
label, input, button, select, textarea {
    font-family: Roboto,Merriweather, sans-serif;
}
label {
    text-align: left; /*items go too far to the right if I put right*/
    padding-right: 1rem;
}
input, select, textarea {
    padding: 0.5rem;
    font-size: 1.2em;
}
 input[type="checkbox"] { /* Doesn't align up at the end of the question*/
    height: 22px;
    width: 22px;
    vertical-align: bottom;
}
button {
    margin: 1rem;
    background-color: navy;
    color: whitesmoke;
    border-radius: 0.5rem;
    border: none;
    padding: 0.75rem;
    font-size: 1.3rem;
}
button:hover {
    background-color: hotpink;
}
footer {
    text-align: center;
    font-size: 0.8rem;
    width: 650px;
    border-top:  1px solid #fee9e1;
    margin: 1rem auto 0;
}
.form-item {
    display: grid;
    align-items: center;
}
.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}
.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
}